.section-title {
    font-size: 35px;
    font-weight: 500;
    color: #DE4842;
    display: block;
    flex-direction: row;

    margin-left: 10px;
}

.section-body {
    margin-top: 20px;
    font-size: 15px;
    text-align: justify;
    margin: 10px;
}


.section-icon {
    margin-bottom: 6px;
}

.section {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.sections-wrapper {
    display: flex;
    flex-direction: row;
}

.section-img {

    width: 100%;
    display: block;
    flex-direction: column;
    text-align: center;

    margin-bottom: 5px;
    padding: 20px;
    overflow: auto;
}

.section-img p {
    text-align: justify;
}


.figure {
    border: solid #022B3A 2px;
    margin-bottom: 10px;
}