img {
    max-width: 100%;
    width: 500px;
}

.post-container {
    margin-bottom: 20px;
}

.post-content {
    max-width: 100%;
    margin: 30px;
    color: #022B3A;
}

.post-header {
    margin-left: 10px;
    color: #022B3A;
}

.palette {
    display: inline-flex;
    position: relative;
    min-width: 100%;
    min-height: 50px;

    margin-bottom: 40px;
}

.color-div {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;

    border: 0px;
    border-top: 2px;
    border-bottom: 2px;
    border-style: solid;
}

.palette-name {
    font-size: 18px;
    font-weight: 300;
}