.sidenav{
    color: #efefef;
    background: #022B3A;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 10px;
    display:block;

    transition: 0.3s;
}

.navitem {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    border: 10px;
}

.navitems {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;

    transition: 0.3s;
}

.navitem:hover {
    background-color: rgba(255,255,255,0.1);
    transition: 0.5s;
}

.sidenav-foot {
    bottom: 0;
    position: absolute;
    
    transition: 0.3s;
}

.sidenav-foot h3:hover {
    font-size: 3em;
    
    transition: 0.5s;;
}

.sidenav-foot h3:not(:hover) {
    
    transition: 0.5s;
}

.collapse-btn {
    background-color: #022B3A;
    border-radius: 0;
    border-bottom-right-radius: 40%;
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    transition: 0s;
    margin-left: 200px;

    transition: 0.3s;
}

.collapsed.sidenav {
    width: 0;
}


.collapsed.collapse-btn {
    margin-left: 0;
}

.collapsed {
    display:block;
}
