.sidenav{
    color: #efefef;
    background: #022B3A;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 10px;
    transition: 0.5s;

    outline-width:  5px;
    outline-color: #022B3A;
    outline-style: solid;
}

.navitem {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
    border: 10px;
}

.navitems {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
}

.navitem:hover {
    background-color: rgba(255,255,255,0.1);
}



.sidenav-foot {
    bottom: 0;
    position: absolute;
    transition: 0.3s;
}

.sidenav-foot h3:hover {
    font-size: 3em;

    transition: 0.3s;
}

.sidenav-foot h3:not(:hover) {
    transition: 0.3s;
}

#colapse-btn {
    background-color: #022B3A;
    border-radius: 0;
    border-bottom-right-radius: 40%;
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    transition: 0.5s;
}
