@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Roboto;
    background: #c2c1c2;
    color: #070707;
    min-height: 100vh;
}

.wrapper {
    padding: 2%;
    margin: 14px;
    margin-top: 50px;
    margin-bottom: 100px;
    transition: 0.5s;
    background-color: #efefef;
    height: 100%;
    bottom: 0;
    min-height: 100vh;
    position: relative;
}

.text-link, .text-link:focus, .text-link:hover, .text-link:visited, .text-link:link, .text-link:active {
    color: inherit;
    text-decoration: inherit;
}
